@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/SourceSansPro-Bold.otf");
}

@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansPro-Regular.otf");
}

html, body {
    height: 100%;
    /*font-family: "SourceSansProRegular";*/
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "SourceSansProBold";
}

ul, li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

/*.SourceSansProRegular{
	font-family: "SourceSansProRegular";
}*/
.SourceSansProBold {
    font-family: "SourceSansProBold";
}

.heading-title {
    font-family: "SourceSansProBold";
    font-size: 30px;
    letter-spacing: 7px;
    color: #43425D;
}

.text-style {
    /*font-family: "SourceSansProRegular";*/
    color: #bcbdc1;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.main-form input[type="email"],
.main-form input[type="text"],
.main-form input[type="password"] {
    margin-bottom: 45px;
    height: 32px;
    padding-bottom: 12px;
    padding-left: 7px;
    width: 100%;
    border: 0;
    border-bottom: solid 2px #e9e9f0;
    background-color: transparent;
    font-family: "SourceSansProRegular";
    outline: none;
}

.blue-color {
    color: #43425D;
}

.checkbox-design {
    display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 0;
    line-height: 19px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 4px;
    font-size: 1rem;
}

.checkbox-design input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-design .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #808495;
    border-radius: 4px;
}

.checkbox-design:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-design input:checked ~ .checkmark {
    background-color: #1ea0a0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-design input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-design .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-btn {
    display: inline-block;
    width: 100%;
    margin: 64px 0 0 0;
}

.login-btn button[type="submit"] {
    width: 160px;
    height: 50px;
    background: #43425D 0% 0% no-repeat padding-box;
    border: 1px solid #43425D;
    border-radius: 4px;
    border: 0;
    color: #fff;
    float: left;
}

.login-btn .singup {
    width: 160px;
    height: 50px;
    border: 1px solid #43425D;
    border-radius: 4px;
    color: #4D4F5C;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    float: right;
}

.box-contain {
    max-width: 346px;
    width: 100%;
}

.terms {
    position: absolute;
    bottom: 10px;
    color: #43425D;
    /*font-family: "SourceSansProRegular";*/
}

.terms a {
    color: #43425D;
}

.top-serach input {
    width: 273px;
    height: 15px;
    border: 0;
    outline: none;
    font-size: .8rem;
    background-image: url(../images/top-serach-icon.png);
    background-repeat: no-repeat;
    background-position: top 1px left 0;
    padding: 0 0px 0 26px;
}

.calender-btns li {
    display: inline-block;
    margin: 0 20px 20px 0;
    position: relative;
}

.calender-btns li:last-child {
    margin: 0;
}

.calender-btns li > a {
    color: #3B86FF;
    width: 105px;
    height: 32px;
    border: 1px solid #3B86FF;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

.calender-btns input[type="text"] {
    width: 317px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000D;
    border: 1px solid #D7DAE2;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #4D4F5C;
    font-family: "SourceSansProRegular";
    padding-left: 13px;
    outline: none;
}

.around-border {
    box-shadow: 0 1.5px 0px 0px #0000000D;
    border: 1px solid #D7DAE2;
    border-radius: 4px;
    border-left: 0;
    cursor: pointer;
}

.bootstrap-datetimepicker-widget {
    width: 100% !important;
    border: 0;
    box-shadow: 0px 2px 3px #0000000D;
    margin: 0;
    padding: 0;
    /* height: 335px; */
}

.bootstrap-datetimepicker-widget .datepicker {
    width: 360px !important;
}

.new-table th {
    background-color: #f5f6fa;
    padding: 13px 20px;
    color: #A3A6B4;
    font-family: "SourceSansProBold";
    font-size: 15px;
    vertical-align: middle;
    border-color: transparent;
}

.new-table tbody tr td {
    color: #4D4F5C;
    /*font-family: "SourceSansProRegular";*/
    vertical-align: middle;
    /*    border-color: #f5f5f6;*/
    padding: 15px 0px 15px 20px;
    border-bottom: solid 1px #f5f5f6;
    border-top: 0;
}

.new-table tbody tr td.yellow {
    color: #0AF321;
    font-family: "SourceSansProBold";
}

.mt-25 {
    margin-top: 25px;
}

.new-table .manage-btn {
    width: 62px;
    height: 44px;
    background: #43425DD9 0% 0% no-repeat padding-box;
    border: 1px solid #43425D;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    line-height: 44px;
    /*font-family: "SourceSansProRegular";*/
    /*margin-right: 15px;*/
    margin-bottom: 4px;
}

.new-table .report-btn {
    width: 62px;
    height: 44px;
    background: #3b86ff 0% 0% no-repeat padding-box;
    border: 1px solid #3b86ff;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    line-height: 44px;
    font-family: "SourceSansProRegular";
}

.border-left-col {
    border-left: solid 1.5px #F1F1F3;
}

.total-case {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    padding: 15px 15px 7px 15px;
    margin-top: 76px;
    margin-bottom: 18px;
}

.mb-17 {
    margin-bottom: 17px;
}

.percentage-no {
    color: #FF4141;
    font-family: "SourceSansProBold";
}

.grey {
    color: #bcbdc1;
}

.up-percent-color {
    color: #3CC480;
}

/*.slide-menu {*/
/*    display: none;*/
/*}*/

.patient-pic {
    height: 100%;
    background-color: #59bdcb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-grey {
    background-color: #eaeaf3;
}

.pencil-color {
    color: #060606;
}

.pateint-infomation {
    margin: 5px 0 0 0;
    padding: 0;
}

.pateint-infomation li {
    line-height: 15px;
    color: #43425D;
    font-size: 15px;
}

.pateint-infomation li b {
    line-height: 19px;
    font-family: "SourceSansProBold";
    font-size: 17px;
}

.two-flags img {
    margin: 0 -11px 0 13px;
}

.horizental-line {
    position: relative;
}

.horizental-line span {
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 9;
    padding: 0 4px 0 0px;
    font-size: 16px;
}

.horizental-line:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    border: 1px solid #43425D;
    top: 12px;
}

.selected-visit {
    background-color: #b1eec3;
    padding: 7px;
    margin-top: 14px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.selected-visit h6 {
    margin-bottom: 9px;
    color: #060606;
}

.selected-visit h1 {
    color: #F20757;
    font-size: 22.9px;
}

.start-video {
    height: 39px;
}

.start-video a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.start-video img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.sub-btns {
    margin: 15px 0 10px;
}

.sub-btns a {
    width: 11.29%;
    height: 35px;
    background: #B0B9DC;
    border-radius: 2px;
    color: #060606;
    margin: 0 3px 6px 0px;
    padding: 8px 0 0 5px;
    font-size: 14px;
}

.sub-btns .rx {
    height: 57px;
    background: #B0DCC9;
}

.previous-visit {
    margin-top: 14px;
}

.previous-visit th {
    color: #090909;
    background-color: #d5d5d5;
    padding: 13px 20px;
}

/*.previous-visit thead:before {*/
/*    content: '';*/
/*    background-image: url(../images/expand-col.png);*/
/*    position: absolute;*/
/*    right: 22px;*/
/*    z-index: 9999999;*/
/*    display: block;*/
/*    width: 25px;*/
/*    height: 24px;*/
/*    background-size: 100% 100%;*/
/*    top: 45px;*/
/*    background-repeat: no-repeat;*/
/*    cursor: pointer;*/
/*}*/

.previous-visit .view-btn,
.previous-visit .revise-btn {
    width: 52px;
    height: 33px;
    background: #F5F6FA;
    border: 1px solid #EAF0F4;
    text-align: center;
    line-height: 29px;
    margin: 0 5px 5px 0;
    color: #A3A6B4;
}

.previous-visit .copy-btn {
    width: 52px;
    height: 33px;
    background: #FFFFFF;
    border: 1px solid #EAF0F4;
    text-align: center;
    line-height: 29px;
    margin-right: 5px;
    color: #A3A6B4;
}

.previous-visit .revise-btn {
    margin-bottom: 0;
}

.previous-visit .new-table tbody tr td {
    padding: 7px 0px 2px 20px;
    border-bottom: solid 2px #d5d5d5;
}

.attachments .nav-tabs {
    margin-top: 10px;
    border-bottom: 0;
    background-color: #d5d5d5;
    position: relative;
}

.attachments .nav-tabs .nav-link {
    background: #D5D5D5;
    border: 1px solid #E9E9F0;
    width: 100%;
    height: 39px;
    text-align: center;
    line-height: 20px;
    margin: 0 4px 0 0px;
    color: #000;
    border-radius: 0;
    border-bottom: 0;
}

.attachments .nav-tabs .nav-link.active {
    background-color: #f8f8f8;
    border: 1px solid #E9E9F0;
    color: #3B86FF;
}

/*.attachments .nav-tabs:before {*/
/*    content: '';*/
/*    background-image: url(../images/file-attach-icon.png);*/
/*    position: absolute;*/
/*    right: 8px;*/
/*    z-index: 9999999;*/
/*    display: block;*/
/*    width: 16px;*/
/*    height: 14px;*/
/*    background-size: 100% 100%;*/
/*    top: 13px;*/
/*    background-repeat: no-repeat;*/
/*    cursor: pointer;*/
/*}*/

.lab-img {
    width: 133px;
    height: 92px;
    background: #FFFFFF;
    border: 1px solid #707070;
    position: relative;
    margin: auto;
}

#labs .lab-rep,
#invoices .lab-rep,
#others .lab-rep {
    color: #040404;
}

#labs .rep-date,
#invoices .rep-date,
#others .rep-date {
    color: #040CF9;
}

.lab-img i {
    color: #BCBCCB;
    position: absolute;
    top: 5px;
    right: 10px;
}

#labs .owl-carousel .item,
#invoices .owl-carousel .item,
#others .owl-carousel .item {
    margin: 0 20px;
}

/*#labs .owl-theme .owl-controls .owl-buttons div,*/
/*#invoices .owl-theme .owl-controls .owl-buttons div,*/
/*#others .owl-theme .owl-controls .owl-buttons div {*/
/*    width: 31px;*/
/*    height: 31px;*/
/*    background: #FFFFFF;*/
/*    box-shadow: 0px 2px 3px #0000000D;*/
/*    border: 1px solid #E8E9EC;*/
/*    border-radius: 4px;*/
/*    color: #A4AFB7;*/
/*    line-height: 28px;*/
/*    margin: 0;*/
/*    font-size: 22px;*/
/*}*/
.owl-theme .owl-controls .owl-buttons div {
    background: linear-gradient(135deg, #0cc5b7 0%,#2bd891 100%) !important;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -17px;
    top: 23%;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -17px;
    top: 23%;
}

#notifications {
    margin: 0 1px 0 17px;
}

.light-green {
    color: #BBE1B8;
}

.doctor-notes .horizental-line:after {
    border: 1px solid #BBE1B8;
}

textarea {
    resize: none;
    outline: none;
}

.doctor-notes textarea,
.doctor-notes-printed textarea {
    height: 114px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
}

.light-blue-print {
    color: #43425D;
}

.doctor-notes-printed .horizental-line:after {
    border: 1px solid #43425D;
}

.templates-row form {
    margin-top: 10px;
}

.templates-row input {
    width: 382px;
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #707070;
    color: #04040482;
    padding-left: 5px;
    font-size: 14px;
}

.templates-row button[type="submit"] {
    height: 41px;
    background: #3B86FF;
    border-radius: 4px;
    border: 0;
    color: #fff;
    padding: 5px;
    margin: 0 0 0 8px;
}

button:focus,
input:focus {
    outline: none;
}

.templates-show {
    margin-top: 7px;
}

.templates-show a {
    /* width: 23.6%; */
    /* height: 43px; */
    background: #FFFFFF;
    border: 1px solid #EAF0F4;
    color: #A3A6B4;
    text-align: center;
    line-height: 40px;
    margin: 0 4px 7px 0px;
    padding-left:5px;
    padding-right:5px;
}

.vital-sub-row a {
    height: 31px;
    background: #4A8CFF;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    padding: 0 15px;
    margin-top: 10px;
}
.vital-sub-row1 {
    text-align: center;
    /* border: solid; */
    max-width: 151px;
    margin: 14px auto 0;
    width: 100%;
}
.vital-sub-row2 {
    text-align: center;
    /* border: solid; */
    position: relative;
    max-width: 183px;
    margin: 14px auto 0;
    width: 100%;
    top: 10px;
}
.vitals-table table {
    margin-top: 10px;
}

.vitals-table th {
    background-color: #d5d5d5;
    color: #090909;
    text-align: center;
    padding: 13px 17px;
}

.vitals-table tbody tr td {
    text-align: center;
    padding: 15px 0px 15px 0px !important;
}

.vitals-table .red-input {
    color: #F80A12;
    padding-bottom: 3px;
    text-align: center;
    width: 38px;
    border: 0;
    border-bottom: solid 2px #F80A12;
    margin: 0 7px 0 0px;
}

.vitals-table .grey-input {
    padding-bottom: 3px;
    text-align: center;
    border: 0;
    border-bottom: solid 2px #A3A6B4;
    color: #A3A6B4;
    width: 25px;
    margin: 0 7px 0 0px;
}

.vitals-table-two .grey-input {
    padding-bottom: 3px;
    text-align: center;
    border: 0;
    border-bottom: solid 2px #A3A6B4;
    color: #A3A6B4;
    width: 25px;
    margin: 0 8px 0 0px;
}

input.grey-input.expand-width.m-0 {
    width: 53px;
}

.vitals-table-two th {
    background-color: #c7cee6;
    color: #090909;
    padding: 13px 19px;
}

.medications-row,
.fav-lab {
    margin-top: 40px;
}

.medications-row .generic-name,
.medications-row .as-required,
.medications-row .as-use {
    height: 40px;
    background: #3B86FF;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    padding: 0 3px;
    font-size: 12px;
}

.medications-row .as-required,
.medications-row .as-use {
    background: transparent;
    color: #3B86FF;
    border: solid 1px #3B86FF;
    height: 36px;
    line-height: 36px;
}

.medications-row ul {
    margin-top: 1px;
    margin-bottom: 4px;
}

.medications-row ul li {
    display: inline-block;
    margin: 0 3px 10px 0px;
    text-align: left;
}

.medications-row ul li:last-child {
    margin: 0;
}

.medications-row .medicine-trade-name {
    color: #07070736;
    border: 0;
    border-bottom: solid 1px #707070;
    position: relative;
    top: 7px;
    left: 5px;
    font-size: 13px;
    width: 190px;
}

.medications-row input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: 07070736;
    opacity: 0.4; /* Firefox */
}

.medications-row input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: 07070736;
}

.medications-row input::-ms-input-placeholder { /* Microsoft Edge */
    color: 07070736;
}

.medications-row .dosage input {
    color: #07070736;
    border: 0;
    border-bottom: solid 1px #707070;
    position: relative;
    top: 7px;
    left: 0px;
    font-size: 13px;
    width: 58px;
}

.medications-row .meal input {
    color: #07070736;
    border: 0;
    border-bottom: solid 1px #707070;
    position: relative;
    top: 7px;
    left: 0px;
    font-size: 13px;
    width: 63px;
}

.medications-row .border-sep {
    border: 0;
    border-bottom: solid 1px #707070;
    position: relative;
    top: -3px;
    width: 30px;
}

.medications-row .intake .as-use {
    padding: 0 7px;
}

.medications-row .duration input {
    color: #07070736;
    border: 0;
    border-bottom: solid 1px #707070;
    position: relative;
    top: 7px;
    left: 0px;
    font-size: 13px;
    width: 74px;
}

.medications-row .treating-condition input {
    color: #07070736;
    border: 0;
    border-bottom: solid 1px #707070;
    position: relative;
    top: 7px;
    left: 0px;
    font-size: 13px;
    width: 260px;
}

.special-dosage .horizental-line span {
    padding: 0 72px 0 0px;
}

.special-dosage .horizental-line:after {
    height: 3px;
    border: 2px dashed #43425D;
    width: 93%;
}

.special-dosage .row {
    margin-top: 10px;
}

.number-system a {
    width: 37px;
    height: 32px;
    border: 1px solid #3B86FF;
    border-radius: 4px;
    text-align: center;
    line-height: 29px;
    color: #3B86FF;
    margin: 0 3px 6px 0px;
    display: inline-block;
    font-size: 10px;
    /* padding: 0 13px; */
}

.special-dosage textarea {
    height: 108px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
}

.special-dosage textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: 07070736;
    opacity: 0.4; /* Firefox */
}

.special-dosage textarea:-ms-textarea-placeholder { /* Internet Explorer 10-11 */
    color: 07070736;
}

.special-dosage textarea::-ms-textarea-placeholder { /* Microsoft Edge */
    color: 07070736;
}

.special-dosage .add-dosage {
    height: 32px;
    background: #43425D;
    border: 1px solid #43425D;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 76px 0 0 -7px;
    line-height: 30px;
    padding: 0 2px;
}

.special-dosage table th {
    color: #090909;
    background-color: #d5d5d5;
    padding: 13px 20px;
}

.special-dosage .dosage-tabel {
    width: 93%;
}

.special-dosage .new-table tbody tr td {
    padding: 7px 0px 4px 20px;
    border-bottom: solid 2px #d5d5d5;
    font-size: 14px;
}

.special-dosage .add-prescription {
    width: 161px;
    height: 40px;
    background: #3B86FF;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.prescription-tabel table th {
    color: #04040482;
    background-color: #d5d5d5;
}

.fav-lab .templates-show {
    max-width: 340px;
    width: 100%;
}

.fav-lab .templates-show a:nth-child(odd) {
    /* width: 103px; */
    /* height: 44px; */
    background: #FFFFFF;
    border: 1px solid #EAF0F4;
    color: #A3A6B4;
}

.fav-lab .templates-show a:nth-child(even) {
    /* width: 100px; */
    /* height: 44px; */
    background: #FFFFFF;
    border: 1px solid #EAF0F4;
    color: #A3A6B4;
}

.fav-lab input {
    width: 486px;
}

.new-table tbody tr td {
    color: #4D4F5C;
    /* font-family: "SourceSansProRegular"; */
    vertical-align: middle;
    /* border-color: #f5f5f6; */
    padding: 15px 0px 15px 20px;
    border-bottom: solid 2px #d5d5d5;
    border-top: 0;
}

.suger-chart table tbody td.fill-bg {
    background: #F5F6FA;
}

.suger-chart table tbody td,
.suger-chart table tbody th {
    border: 1px solid #EAF0F4;
    border-right: 0;
    border-top: 0;
}

.light-font {
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
}

.refer-to .templates-show a {
    width: 47.71%;
}

.next-visit-no li {
    display: inline-block;
    margin: 0 18px 0 0;
}

.next-visit-no input {
    color: #707070;
    border: 0;
    border-bottom: solid 1px #707070;
    width: 100px;
}

.next-visit-no a {
    width: 105px;
    height: 32px;
    border: 1px solid #3B86FF;
    border-radius: 4px;
    text-align: center;
    color: #3B86FF;
    font-size: 14px;
    line-height: 32px;
}

.save-tempaltes {
    border-bottom: 2px solid #43425D;
    height: 215px;
}

.save-temp-btn {
    width: 133px;
    height: 34px;
    background: #3BE4FF;
    border-radius: 4px;
    color: #000;
    line-height: 34px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    /* margin: 0 0 0 77px; */
}

.send-pateint-btn {
    width: 171px;
    height: 34px;
    background: #3BFF4F;
    border-radius: 4px;
    color: #000;
    line-height: 34px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.send-pateint-btn-preview {
    width: 120px;
    height: 34px;
    background: #3BFF4F;
    border-radius: 4px;
    color: #000;
    line-height: 34px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.btn-space {
    margin-right: 20px;
}

.note-editor {
    margin-top: 10px;
}

.note-editor .btn-light {
    background-color: #6695c3;
    color: #fff;
    border-color: #6695c3 !important;
    padding-bottom: 12px !important;
    line-height: 10px;
}

.fav-lab .full-width {
    max-width: 100%;
}

.modal-header {
    background-color: #4A8CFF;
    color: #fff;
}

.modal .close {
    color: #fff;
    opacity: 1;
}

.popup-style label {
    width: 100%;
}

.btn-primary {
    background-color: #4A8CFF;
    border-color: #4A8CFF;
}

#new_chq .row {
    border-top: solid 1px #ccc;
    padding-top: 15px;
    margin-top: 20px;
}

.even-smoke {
    display: none;
}

.still-smoke {
    display: none;
}

.ever-drink {
    display: none;
}

.ever-drugs {
    display: none;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 9px;
    position: relative;
    z-index: 2;
}

.rxm-model-width .modal-lg {
    max-width: 1120px !important;
}

.weight-custom-margin{
    margin-left:100px;
}

.height-custom-margin{
    margin-left:40px;
}

.weight-custom-margin-repeat{
    margin-left:147px;
}

.height-custom-margin-repeat{
    margin-left:3px;
}
